In [3]:
import pandas as pd

# Read Excel file
data_excel = pd.read_excel('/content/gopi1.xlsx')

# Read CSV file
data_csv = pd.read_csv('/content/gopi2.csv')

# Read TSV file (Tab-separated values)
data_tsv = pd.read_csv('/content/gopi3.tsv', sep='\t')

print("Data from Excel:")
print(data_excel)

print("\nData from CSV:")
print(data_csv)

print("\nData from TSV:")
print(data_tsv)

Data from Excel:
   Table 1  Unnamed: 1 Unnamed: 2
0     name        Htno    Surname
1  Lakshmi  2203A52230          N
2   Sravan  2203A52099          L
3  Niyathi  2203A51038          B
4    Navya  2203A52057          N

Data from CSV:
      name        Htno Surname  Unnamed: 3  Unnamed: 4  Unnamed: 5
0  Lakshmi  2203A52230       N         NaN         NaN         NaN
1   Sravan  2203A52099       L         NaN         NaN         NaN
2  Niyathi  2203A51038       B         NaN         NaN         NaN
3    Navya  2203A52057       N         NaN         NaN         NaN

Data from TSV:
      name        Htno Surname  Unnamed: 3  Unnamed: 4  Unnamed: 5
0  Lakshmi  2203A52230       N         NaN         NaN         NaN
1   Sravan  2203A52099       L         NaN         NaN         NaN
2  Niyathi  2203A51038       B         NaN         NaN         NaN
3    Navya  2203A52057       N         NaN         NaN         NaN